/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: auto; /* DEBUG:  */
  border: 1px solid;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
  /* @font-face. */
}

/* elenchi puntati:  */
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 4%;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

/*  header  */
/*  navbar */
.navleft {
  text-align: left;
  padding: 5% 10%;
}
/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
} */

/*  img grande */
.mainimg {
  background-image: url(../img/mainimg.jpg);
  z-index: 5;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.opaco {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  }

h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top:40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.mainimg > H2 {
  color: white;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.store {
  position: absolute;
  left: 50%;
  top:60%;
  transform: translate(-50%, -50%);
}


/* 2bici */
/* old man */
/* how it works and steps:  */
/* smart mobility */
/* get the app and find us */
/* family */

/* footers */
